<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Vocabulary Lists | Simple HSK</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <!--  Custom css  -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/utilities.css" th:href="@{/css/utilities.css}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/favicon_io/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/favicon_io/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/favicon_io/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/assets/favicon_io/site.webmanifest}">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="Site-content container">
    <h1>HSK Vocabulary Lists</h1>
    <p>The HSK tests build up to a total of 5000 words and 2663 individual characters.</p>

    <hr>

    <div th:replace="fragments/vocab_nav :: vocab-nav">
        <div class="vocab-lists-buttons" >
            <a href="/hsk/1" class="btn btn-outline-primary" role="button">HSK 1</a>
            <a href="/hsk/2" class="btn btn-outline-primary" role="button">HSK 2</a>
            <a href="/hsk/3" class="btn btn-outline-primary" role="button">HSK 3</a>
            <a href="/hsk/4" class="btn btn-outline-primary" role="button">HSK 4</a>
            <a href="/hsk/5" class="btn btn-outline-primary" role="button">HSK 5</a>
            <a href="/hsk/6" class="btn btn-outline-primary" role="button">HSK 6</a>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer-main"></div>

<!--Navbar w/ dropdown-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
