<html lang="en"><head>
  <meta charset="utf-8">
  <title>Login | Simple HSK</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/favicon_io/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/favicon_io/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/favicon_io/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/assets/favicon_io/site.webmanifest}">
</head>
<body>

<div class="Site-content container">
  <form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">Login to Simple HSK</h2>

    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
    </p>

    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    </p>

    <!--TODO: Align label with checkbox-->
    <p>
      Remember Me?
      <input type="checkbox" id="remember-me" name="remember-me" class="form-control">
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>

</body>
</html>